@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    margin: 0;
    background-color: antiquewhite;
    font-family: "Poppins", sans-serif;
}

.Menu{
    display: flex;
    justify-content: space-around;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

/* Style pour le sous-menu */
li ul {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
}

li ul li {
    float: none;
    background-color: #333;
}

li ul li a {
    padding: 12px 16px;
}

li ul li a:hover {
    background-color: #575757;
}

/* Afficher le sous-menu au survol */
li:hover ul {
    display: block;
}

